---
layout: archive
title: "Publications &#128221;"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}" target="_blank" rel="google scholar" >my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<p align = "justify"> 
<h2>Journal Articles</h2>
<ol reversed>

<li><strong>Tianyuan Liu</strong>, Xianrun Pan, Liping Ren, Xiucai Ye, Kai Zheng & Yang Zhang. Mapping autophagy-related membrane contact site proteins and complexes with AutoMCS Navigator. Autophagy, 2024, 1-3. [<a href="https://www.tandfonline.com/doi/abs/10.1080/15548627.2024.2394291" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Tianyuan Liu</strong>, Huiyuan Qiao, Zixu Wang, Xinyan Yang, Xianrun Pan, Yu Yang, Xiucai Ye, Tetsuya Sakurai, Hao Lin & Yang Zhang. CodLncScape Provides a Self-Enriching Framework for the Systematic Collection and Exploration of Coding LncRNAs. Advanced Sience, 2024, e2400009. [<a href="https://onlinelibrary.wiley.com/doi/full/10.1002/advs.202400009" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Tianyuan Liu</strong>, Junyang Huang, Delun Luo, Liping Ren, Lin Ning, Jian Huang, Hao Lin & Yang Zhang. Cm-siRPred: Predicting chemically modified siRNA efficiency based on multi-view learning strategy. International Journal of Biological Macromolecules, 2024, 264:130638. [<a href="https://www.sciencedirect.com/science/article/pii/S0141813024014417" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Tianyuan Liu</strong>, Bohao Zou, Manman He, Yongfei Hu, Yiying Dou, Tianyu Cui, Puwen Tan, Shaobin Li, Shuan Rao, Yan Huang, Sixi Liu, Kaican Cai & Dong Wang. LncReader: identification of dual functional long noncoding RNAs using a multi-head self-attention mechanism. Briefings in Bioinformatics, 2023, 24:bbac579. [<a href="https://academic.oup.com/bib/article/24/1/bbac579/6961607" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li><strong>Tianyuan Liu</strong>, Yuncong Zhang, Yunqing Lin, Yongfei Hu, Yang Zhang, Dong Wang, Yan Wang & Lin Ning. Exploration of invasive mechanisms via global ncRNA-associated virus-host crosstalk. Genomics, 2020, 112:1643-1650. [<a href="https://www.sciencedirect.com/science/article/pii/S0888754319305737?via%3Dihub" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Yang Zhang, <strong>Tianyuan Liu</strong>, Xuesong Hu, Mei Wang, Jing Wang, Bohao Zou, Puwen Tan, Tianyu Cui, Yiying Dou, Lin Ning, Yan huang, Shuan Rao, Dong Wang & Xiaoyang Zhao. CellCall: integrating paired ligand–receptor and transcription factor activities for cell–cell communication. Nucleic Acids Research, 2021, 49:8520–8534. [<a href="https://academic.oup.com/nar/article/49/15/8520/6332819" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Yang Zhang,  <strong>Tianyuan Liu</strong>, Jing Wang, Bohao Zou, Le Li, Linhui Yao, Kechen Chen, Lin Ning, Bingyi Wu, Xiaoyang Zhao & Dong Wang. Cellinker: a platform of ligand-receptor interactions for intercellular communication analysis. Bioinformatics, 2021, 37:2025–2032. [<a href="https://academic.oup.com/bioinformatics/article/37/14/2025/6104823?login=true" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Yunqing Lin, <strong>Tianyuan Liu</strong>, Tianyu Cui, Zhao Wang, Yuncong Zhang, Puwen Tan, Yan Huang, Jia Yu & Dong Wang. RNAInter in 2020: RNA interactome repository with increased coverage and annotation. Nucleic Acids Research, 2020, 48:D189–D197. [<a href="https://academic.oup.com/nar/article/48/D1/D189/5570701?login=true" target="_blank" rel="noopener noreferrer">Link</a>]</li>

<li>Yang Zhang, <strong>Tianyuan Liu</strong>, Liqun Chen, Jinxurong Yang, Jiayi Yin, Yuncong Zhang, Zhixi Yun, Hao Xu, Lin Ning, Fengbiao Guo, Yongshuai Jiang, Hao Lin, Dong Wang, Yan Huang & Jian Huang. RIscoper: a tool for RNA–RNA interaction extraction from the literature. Bioinformatics, 35:3199–3202. [<a href="https://academic.oup.com/bioinformatics/article/35/17/3199/5298307" target="_blank" rel="noopener noreferrer">Link</a>]</li>
  
</ol>

<h2>Conference Papers</h2>
<ol reversed>

<li><strong>Tianyuan Liu</strong>, Xiucai Ye & Tetsuya Sakurai. Deciphering the Complex Characterization of Coding LncRNA. 2024 International Joint Conference on Neural Networks (IJCNN). [<a href="https://ieeexplore.ieee.org/abstract/document/10650681" target="_blank" rel="noopener noreferrer">Link</a>] <strong>Poster Presentation</strong></li>

<li><strong>Tianyuan Liu</strong>, Xiucai Ye, Tetsuya Sakurai. Opportunities and Challenges: A New Perspective in Functional Diversity of Coding LncRNA and Their Micropeptides. 2024 International Conference on Medical and Health Informatics (ICMHI). <strong>Oral Presentation</strong></li>

</ol>

</p>
